{% extends 'shop/base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h1>ℹ️ О сайте</h1>

        <hr>

        <p>
            <strong>Название:</strong>
            Termos Shop
        </p>

        <p>
            <strong>Автор:</strong>
            Ковалёв Станислав
        </p>

        <p>
            <strong>Год создания:</strong>
            2026
        </p>

        <p>
            <strong>Описание:</strong>
            Интернет-магазин термосов и термокружек,
            разработанный на Django.
        </p>

        <p>
            Сайт позволяет:
        </p>

        <ul>
            <li>Просматривать каталог товаров</li>
            <li>Добавлять товары в корзину</li>
            <li>Добавлять товары в избранное</li>
            <li>Оформлять заказы</li>
            <li>Хранить историю заказов</li>
        </ul>

    </div>

</div>

{% endblock %}