{% extends 'shop/base.html' %}

{% block content %}

<div class="card shadow p-4">

    <h1>{{ product.name }}</h1>

    <hr>

    <p>{{ product.description }}</p>

    <h3 class="text-success">
        {{ product.price }} BYN
    </h3>

    <p>
        <strong>Категория:</strong>
        {{ product.category.name }}
    </p>

    <p>
        <strong>Производитель:</strong>
        {{ product.manufacturer.name }}
    </p>

    <p>
        <strong>На складе:</strong>
        {{ product.quantity }}
    </p>

    {% if product.quantity > 0 %}

    <a href="/cart/add/{{ product.id }}/"
       class="btn btn-success">
        Добавить в корзину
    </a>
    <a href="/favorite/add/{{ product.id }}/"
       class="btn btn-warning">
        ❤️ В избранное
    </a>

    {% else %}

    <button class="btn btn-secondary" disabled>
        Нет в наличии
    </button>

    {% endif %}

</div>

<a href="{% url 'catalog' %}"
   class="btn btn-outline-dark mt-3">
    ← Назад в каталог
</a>

{% endblock %}